VITE_API_BASE_URL="http://127.0.0.1"
VITE_API_BASE_PATH="/api"

VITE_WEB_BASE_URL="http://127.0.0.1"
VITE_WEB_BASE_PATH=""

VITE_ADMIN_BASE_URL="http://127.0.0.1"
VITE_ADMIN_BASE_PATH="/god-mode"

VITE_SPACE_BASE_URL="http://127.0.0.1"
VITE_SPACE_BASE_PATH="/spaces"

VITE_LIVE_BASE_URL="http://127.0.0.1"
VITE_LIVE_BASE_PATH="/live"

VITE_WEBSITE_URL="http://127.0.0.1:3000"
VITE_DOCS_BASE_URL="http://127.0.0.1"
VITE_DOCS_BASE_PATH="/docs"
